<style>
  .article-body-html img {
    max-width: 100%;
  }
</style>
<div class="card my-3 crud-card">
  <div class="card-header">
    <h2 class="chambita-title mb-3">
      <a href="<%= chamba_path(chamba_id: chamba.id) %>" target="_blank" rel="noopener">
          <%= chamba.title %>
      </a>
    </h2>

    <div>
 %>/edit" target="_blank" rel="noopener"><span class="btn btn-sm btn-primary">Edit</span></a>

      <a class="btn btn-sm btn-secondary" href="<%= chambas_path(chamba.id) %>" target="_blank" rel="noopener">Manage User</a>
      <div class="chamba-img">
      <%= image_tag "chamba-icon.png", class: "chamba-image mt-5 mb-5" %>
      </div>
      <%= form_with do |f| %>
        <div class="row">
          <div class="form-group col">
            <label>Author ID:</label>
            <input class="form-control" size="6" name="chamba[id]" value="<%= chamba.id %>">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="published_at_<%= chamba.id %>">Published at:</label>
            <%= f.datetime_select :published_at, required: true, include_blank: true, include_seconds: true, class: "form-control" %> UTC
          </div>
        </div>
        <div class="col">
          <button class="btn btn-primary float-right">Submit</button>
        </div>
      <% end %>

    </div>

  </div>

</div>
